---
// Stats section with Tailwind
---

<div class="bg-gray-50 py-24 sm:py-32" id="stats">
	<div class="mx-auto max-w-7xl px-6 lg:px-8">
		<div class="mx-auto max-w-2xl lg:max-w-none">
			<div class="text-center">
				<h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
					Medlemmer og klubber, der stoler på NemBadminton
				</h2>
				<p class="mt-4 text-lg leading-8 text-gray-600">
					Slut dig til det voksende fællesskab af badmintonklubber, der har valgt NemBadminton til at optimere deres holdturnering.
				</p>
			</div>
	<dl class="mt-16 grid grid-cols-1 gap-0.5 overflow-hidden rounded-2xl text-center sm:grid-cols-2 lg:grid-cols-3">
        <div class="flex flex-col bg-gray-400/5 p-8">
          <dt class="text-sm font-semibold leading-6 text-gray-600">Holdrunder</dt>
          <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900">1249</dd>
		  <div class="text-xs text-gray-500 mt-1">Siden 2022</div>
        </div>
        <div class="flex flex-col bg-gray-400/5 p-8">
          <dt class="text-sm font-semibold leading-6 text-gray-600">Hold</dt>
          <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900">3137</dd>
          <div class="text-xs text-gray-500 mt-1">Fra Liga til Danmarksserien</div>
        </div>
        <div class="flex flex-col bg-gray-400/5 p-8">
          <dt class="text-sm font-semibold leading-6 text-gray-600">Klubber</dt>
          <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900">118</dd>
          <div class="text-xs text-gray-500 mt-1">Importeret</div>
        </div>
      </dl>
		</div>
	</div>
</div> 